= react_component('ChatApp')

-# .container
  -# .row
    -# .col-md-6.col-sm-6.col-xs-6
      -# .panel.panel-default
        -# .panel-body
          -# = react_component('ChatApp')
    -# .col-md-6.col-sm-6.col-xs-6
      -# .panel.panel-default
        -# .panel-body
          -# = react_component('ChatApp')

